<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <section class="swyder">
      <ul class="swyder__swides">
        <li class="swyder__swide">
          slide 1
        </li>
        <li class="swyder__swide">
          slide 2
        </li>
        <li class="swyder__swide">
          slide 3
        </li>
        <li class="swyder__swide">
          slide 4
        </li>
        <li class="swyder__swide">
          slide 5
        </li>
        <li class="swyder__swide">
          slide 6
        </li>
        <li class="swyder__swide">
          slide 7
        </li>
        <li class="swyder__swide">
          slide 8
        </li>
      </ul>
    </section>
  </body>
</html>
